{
    "extends": "eslint-config-airbnb",
    "env": {
        "node": true,
        "browser": true
    },
    "rules": {
        "import/extensions": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": [
            2,
            {
                "ignore": [
                    "electron"
                ]
            }
        ],
        "linebreak-style": 0,
        "indent": [
            "error",
            4
        ],
        "comma-dangle": [
            "error",
            "never"
        ],
        "no-alert": 0
    }
}