<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Sunshade CMS</title>

    <link rel="stylesheet" type="text/css" href="../semantic/dist/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../css/global.css">
    <link rel="stylesheet" type="text/css" href="../css/index.css">
</head>

<body>
    <div class="ui large inverted top fixed borderless menu">
        <div class="ui container">
            <div class="ui dropdown icon item">
                <i class="wrench icon"></i>
                <div class="menu">
                    <div class="item" id="new_client_btn">New Client</div>
                </div>
            </div>
            <div class="right item">
                <div class="ui icon input">
                    <input type="text" placeholder="Search clients...">
                    <i class="search icon"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="ui container">
        <div id="client_container" class="ui three cards"></div>
    </div>

    <div id="view_client_modal" class="ui modal">
        <div class="header" id="client_modal_header"></div>
        <div class="content">
            <form class="ui form">
                <h4 class="ui dividing header">Basic Info</h4>

                <div class="two fields">
                    <div class="field">
                        <label>First name</label>
                        <input type="text" placeholder="First Name" name="fname">
                    </div>
                    <div class="field">
                        <label>Last name</label>
                        <input type="text" placeholder="Last Name" name="lname">
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>Phone Number</label>
                        <input type="text" placeholder="(xxx) xxx-xxxx" data-inputmask="'mask': '(999) 999-9999'" class="input_mask"
                            name="phone">
                    </div>
                </div>

                <h4 class="ui dividing header">Address</h4>

                <div class="field">
                    <label>Street Address</label>
                    <div class="fields">
                        <div class="twelve wide field">
                            <input type="text" name="address" placeholder="Street Address">
                        </div>
                        <div class="four wide field">
                            <input type="text" name="apt" placeholder="Apt #">
                        </div>
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>State</label>
                        <select class="ui fluid dropdown" name="state">
                            <option value="Alabama">Alabama</option>
                        </select>
                    </div>
                    <div class="field">
                        <label>Country</label>
                        <div class="ui fluid search selection dropdown">
                            <input type="hidden" name="country">
                            <i class="dropdown icon"></i>
                            <div class="default text">Select Country</div>
                            <div class="menu">
                                <div class="item" data-value="United States"><i class="us flag"></i>United States</div>
                            </div>
                        </div>
                    </div>
                </div>

                <h4 class="ui dividing header">Attachments</h4>

                <div class="ui grid">
                    <div class="sixteen wide column">
                        <div class="ui five cards">
                            <!-- <div class="ui raised link card">
                                <div class="image">
                                    <img src="http://placehold.it/100x150">
                                </div>
                                <div class="extra content">
                                    <span>
                                        <i class="file alternate outline icon"></i>
                                        JPEG
                                    </span>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>

                <div class="ui grid">
                    <div class="three wide column">
                        <button id="upload_button" class="ui small blue labeled icon button" type="button">
                            <i class="upload icon"></i>
                            Upload
                        </button>
                    </div>
                    <div class="thirteen wide column">
                        <div id="dragdrop" class="ui placeholder segment">
                            <div class="ui icon header">
                                <i class="file alternate outline icon"></i>
                                Drag files here to upload.
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="actions">
            <button id="delete_client_btn" class="ui red basic left floated icon button"><i class="trash alternate outline icon"></i>
                Delete</button>
            <button class="ui black deny button">Cancel</button>
            <button class="ui positive right labeled icon button" id="save_client_btn">
                Save
                <i class="checkmark icon"></i>
            </button>
        </div>
    </div>

    <div id="prompt" class="ui basic modal">
        <div class="ui icon header">
            <i class="archive icon"></i>
            Archive Old Messages
        </div>
        <div class="content">
            <p></p>
        </div>
        <div class="actions">
            <div class="ui red basic cancel inverted button">
                <i class="remove icon"></i>
                No
            </div>
            <div class="ui green ok inverted button">
                <i class="checkmark icon"></i>
                Yes
            </div>
        </div>
    </div>

    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../semantic/dist/semantic.min.js"></script>
    <script src="../js/index.js"></script>
</body>

</html>